@model IEnumerable<Repozytorium.Models.Ogloszenie>

@{
    ViewBag.Tytul = "Lista ogloszen";
    ViewBag.Opis = "Lista ogloszen z naszej aplikacji";
    ViewBag.SlowaKluczowe = "Lista ogloszen, slowa, aplikacja, ogloszenia";
}

<h2>Lista ogloszen</h2>

<p>
    <a class="btn btn-primary" href="/Ogloszenie/Create">Dodaj nowe ogloszenie</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UzytkownikId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UzytkownikId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class ="btn btn-primary"}) |
            @Html.ActionLink("Szczegoly", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Usun", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
